<html>
<head>
    <title></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% for (var ii = 0; ii < items.length; ii++) { %>
          <li><%= items[ii].desc  %></li>
        <% } %>
    </ul>
    <form action="/add" method="post">
        <input type="text" name="newItem">
        <input type="submit">
    </form>
</body>
</html>